
    
    @import './variables';
    $word-spacing:25px;
     ::selection {
        color: rgb(36, 212, 139);
    }
    
     ::before section {
        color: rgb(214, 75, 75);
    }
    
    .navbar {
        font-size: 15px;
        #navbarSupportedContent {
            margin-right: 4%;
            ul {
                margin-right: 5%;
                li {
                    margin-left: $word-spacing;
                }
            }
        }
        a {
            .img {
                width: 83px;
                border-radius: 55px;
                margin-left: 50%;
                @include breakpoint(xs) {
                    margin-left: 6%;
                }
            }
        }
        @include breakpoint(xs) {
            .btn {
                margin-left: 7%;
            }
        }
    }
    
    .banner {
        margin-top: 4rem;
        margin-top: 5rem;
        h1 {
            display: flex;
            justify-content: flex-start;
            margin-left: 25%;
            font-weight: bold;
        }
        h2 {
            display: flex;
            justify-content: flex-start;
            margin-left: 26%;
            font-weight: 900px;
        }
        p {
            margin-left: 26%;
        }
        .btn {
            background-color: #ff6c1e;
            color: aliceblue;
            margin-left: 26%;
        }
        .col-md-5 {
            // z-index: -1;
            // background-color: #e1f1ff;
            // clip-path: polygon(18% 43%, 100% 16%, 100% 100%, 18% 100%);
            img {
                width: 100%;
                position: relative;
                height: 110%;
                z-index: 1;
            }
        }
    }
    
    $total-card:35px;
    // .clip {
    //     clip-path: polygon(19% 29%, 100% 0, 100% 100%, 0% 100%);
    //     background: #f2a56d;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    // }
    .card {
        @include breakpoint(xs){
            .clip{
                width: opx;
            }
        }
        .clip {
            clip-path: polygon(19% 29%, 100% 0, 100% 100%, 19% 100%);
            background: #e1f1ff;
            width: 100%;
            height: 145%;
            margin-top: -35%;
            position: absolute;
            border-bottom-right-radius: 30%;
        }
        // .card::before {
        //     clip-path: polygon(19% 29%, 100% 0, 100% 100%, 0% 100%);
        //     background: #f2a56d;
        //     width: 100%;
        //     height: 100%;
        //     // position: absolute;
        // }
        margin-top: 20%;
        // z-index: 1;
        border: none;
        .row {
            p {
                font-size: 15px;
            }
            .firstcard {
                margin-left: 60%;
                @include breakpoint(xs) {
                    margin-left: 10%;
                    margin-bottom: 10%;
                }
            }
            .card{
                background: whitesmoke;
                width: 17rem;
                border-radius: 10%;
                text-align: center;
            }
            .card-body {
                // width: 19rem;
                width: 18rem;
                border-radius: $total-card;
                h5 {
                    display: flex;
                    justify-content: center;
                    font-size: 25px;
                    margin-top: 20px;
                }
                img {
                    margin-left: 22px;
                    height: 190px;
                    width: 169px;
                    border-radius: 50%;
                }
                .card-text {
                    word-spacing: 3px;
                    margin-top: 20px;
                }
                .card-link {
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                }
            }
            margin-right: 0%;
            border: none;
            .col-md-3 {
                // margin-left: 12%;
                .card-body {
                    width: 80%;
                // border: 1px solid rgba(0, 0, 0, .125);
                }
            }
        }
        a {
            color: #f2a56d;
        }
        img {
            width: 57%;
        }
        .sc {
            
            margin-top: -10%;
            // margin-bottom: 6%;
            @include breakpoint(xs) {
                margin-left: -27%;
                .two-card {
                    margin-left: 59px;
                    background-color:#f7f6f4;

                }
            }
        }
        .col-md-6 {
            @include breakpoint(xs) {
                margin: 12% -13% 0% -12%;
            }
            .header {
                margin-left: 30%;
            }
            p {
                margin-left: 30%;
            }
            .arrowiage{
                margin-left: 30%;
    
    transform: rotate(45deg);
    width: 50%;
}
            }
            .container{
                border-radius: 6%;
                background-color: brown;
                width: 57%;
                margin: 10% 0% 0% 30%;
                top: 0px;
                bottom: 0px;
                /* display: flex; */
                text-align: center;
                .carousel-inner {
                    border-radius: 30%;
                }
            }
        }
    
    .ban1{
        margin-top: 9rem;
       .hea{
           display: flex;
           justify-content: center;
           .optimize1{
            font-weight: 800;
               color: #424c6d;
               font-size: 53px;
               display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 23%;
               
           }
           .optimize2{
            font-weight: 800;
            color: #424c6d;

            font-size: 53px;
            margin-left: -40%;
    margin-right: auto;
    margin-top: 4%;
        }
       } 
    }
    .tworow{
        margin-bottom: 30%;
        .row{
            text-align: justify;
            .col-md-4{
                display: flex;
                flex-direction: column;
    border-right: 1px solid black;
    img{
        width: 30%;
       display: flex;
       justify-content: center;
       flex-direction: column;
       
    
    }
    
            }
            .col-md-8{
                display: flex;
    align-items: center;
    margin-right: auto;
    left: 4%;
            }

        }

    }
    .onImg{
background-color: #fec430;
margin-top: 20%;
height: 500px;
        .cat{
            .ftimg{
                margin-top: -23%;
            }

        }
        .tos{
            display: flex;
            justify-content: center;
            .card{
                width: 75%;
                border-radius: 24px;
                .by {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background: rebeccapurple;
                    height: 400px;
                    margin-top: -26%;
                    font-size: 19px;
                    border-radius: 50px;
                }
                
            }
        }
    }
   .ctn{
    padding-bottom: 7%;
    border-bottom: 2px solid #f4f6f6;

    .container{
        @include breakpoint(xs){
            margin-top: 92%;
    padding-left: -1%;
    margin-left: -8%;
        }
        margin-top: 15%;
        .row{
            :nth-child(1){
                border-right:1px solid red ;
            }
            flex-wrap: nowrap;
            margin-left: 9%;
            border: none;  
        
    }
    .r{
        margin-top: 7%;

    }
}
}
// footer
.footer{

    .row{
        h3{
            font-size: 21px;

        }
        .col-md-4{
            margin-top: -39px;
            img{
                width: 50%;
    padding: 32px;
    /* height: 30%; */
    border-radius: 59%;
            }
           .hhe{
            display: flex;
            justify-content: center;
            margin-top: -77px;
            padding: 0px 0px 0px 12%;
           } 
           .col-md-1{
              
           
                .u-a{
               width: 50%;
               
            }
           }
        }
        }
    }
